/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}


.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-top: 1em; // Reduced top margin
  margin-bottom: 0.25em;
  // font-family: 'Roboto', sans-serif;
  // font-family: $sans-serif;
  text-decoration: none;

  &:hover {
    text-decoration: underline; // Optional: Add underline on hover
    font-size: $type-size-4; // Optional: Increase font size on hover
  }

  a {
    color: #1b3fa2; // Set your desired color here
    text-decoration: none; // Remove underline
    opacity: 0.8;

    &:hover {
      text-decoration: underline; // Optional: Add underline on hover
      font-size: $type-size-4; // Optional: Increase font size on hover
    }
  }

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-7;
  text-decoration: none;

  & + p {
    text-indent: 0;
    font-size: $type-size-6;
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item {
  padding: 0.5em 1em 0.5em 1em; // Reduced top padding
  margin-bottom: 2em;
  border: 1px solid $border-color;
  border-radius: 10px; // Rounded edges
  background-color: #f9f9f9; // Optional: Background color
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: Box shadow for a subtle effect
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Smooth transition for transform and box-shadow

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // Add a stronger box shadow on hover
    // transform: scale(1.05); // Enlarge the box along with its contents on hover
  }

  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }
}


.archive__item-link {
  text-decoration: none; // Remove underline from the entire box link
  color: inherit; // Inherit color from parent
  display: block; // Ensure the link covers the entire box

  .archive__item {
    padding: 0.5em 1em 1em 1em; // Reduced top padding
    margin-bottom: 1em;
    border: 1px solid $border-color;
    border-radius: 10px; // Rounded edges
    background-color: #f9f9f9; // Optional: Background color
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional: Box shadow for a subtle effect

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add a stronger box shadow on hover

      .archive__item-teaser {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
      .archive__item-title {
        text-decoration: underline; // Add underline on hover
        font-size: $type-size-4; // Increase font size on hover
      }
    }
    .archive__item-excerpt {
      text-decoration: none; // Remove underline from the excerpt
      font-size: $type-size-7; // Set the desired font size

      a {
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .archive__item-title {
    margin-top: 0.25em; // Reduced top margin
    margin-bottom: 0.25em;
    color: $link-color-hover; // Set your desired color here
    text-decoration: none; // Remove underline
    opacity: 0.8;

    a {
      color: $link-color-hover; // Set your desired color here
      text-decoration: none; // Remove underline
      opacity: 0.8;

      &:hover {
        text-decoration: underline; // Optional: Add underline on hover
        font-size: $type-size-4; // Optional: Increase font size on hover
      }
    }

    a + a {
      opacity: 0.5;
    }
  }
}

/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }


  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;
  height: 300px; // Set a fixed height for grid items
  overflow: hidden; // Ensure content does not overflow

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: block; // Ensure the excerpt is displayed
    overflow: hidden; // Hide overflow text
    text-overflow: ellipsis; // Add ellipsis for overflow text
    white-space: nowrap; // Prevent text from wrapping
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 120px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(5 of 10);

    .archive__item-teaser {
      max-height: 200px;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-7;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
