/* ==========================================================================
   MASTHEAD
   ========================================================================== */
@import "vendor/font-awesome/logo-font";

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;
  margin-left: -100px;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;  

  &--lg {
    margin-right: 2em;
    padding-left: 2em;
    font-weight: 700;
    font-size: larger;
    font-style: normal;
    // font-family: 'magic-saturday';
  
  }
  // &--lg_img {
  //   padding-right: 2em;
  //   font-weight: 700;
  //   font-style: normal;
  //   // font-family: 'magic-saturday';
  
  // }

}
.masthead__menu-item--lg img{
  margin-left: -30px;
  max-height: 40px; /* Adjust the height as needed */
  width: auto;
  // margin-left: 0px;
}

.masthead__menu-item--lg img {
  margin-left: -30px;
  max-height: 40px; /* Adjust the height as needed */
  width: auto;
}

// Media query for small devices
@media only screen and (max-width: 600px) {
  .masthead__menu-item--lg img {
    margin-left: 50px; /* Adjust margin for smaller screens */
    max-height: 20px; /* Adjust the height for smaller screens */
  }
}

// Media query for tablets
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .masthead__menu-item--lg img {
    margin-left: 60px; /* Adjust margin for tablet screens */
    max-height: 25px; /* Adjust the height for tablet screens */
  }
}

// Media query for medium devices (desktops)
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .masthead__menu-item--lg img {
    margin-left: 65px; /* Adjust margin for medium screens */
    max-height: 30px; /* Adjust the height for medium screens */
  }
}